<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Fire Emblem Three Crowns : Grand Conquest</title>
        <link rel="icon" href="https://cdn2.steamgriddb.com/icon/075a3a646faea7bfa9cd8b86c51a026b.png">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% if app.user is not null and app.user.faction is not null %}
        {% if app.user.faction.id == 1 %}
        {% set accent = 'be' %}
        {% elseif app.user.faction.id == 2 %}
            {% set accent = 'bl' %}
        {% elseif app.user.faction.id == 3 %}
            {% set accent = 'gd' %}
        {% else %}
            {% set accent = 'aw' %}
        {% endif %}
    {% else %}
        {% set accent = 'seiros' %}
    {% endif %}
    <body class="{{ accent }}-body">
        {% block body %}{% endblock %}
    </body>
</html>
